# MacOS
.DS_Store

# Internal
php/login/users.txt
comments.txt

# Output files
rom.bin
a.out
out/

# Dependancies- Just install them yourself
**/node_modules/
node_modules/

*.venv

# Things that have their own repos
nodejs/electronTests/electron-quick-start/
elm/K/
site/