# MacOS
.DS_Store
*.DS_Store

# Local organization
*.code-workspace

# Internal
php/login/users.txt
**/comments.txt

# Output files
rom.bin
a.out
out/

# Dependancies- Just install them yourself
node_modules/

*.venv

# Things that have their own repos
MDWebServer
MDWebServer/*
cpp_code_stuff
cpp_code_stuff/*