.gui{
    /*height: 100%;*/
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    right:0;
    background-color: #111;
    overflow-x: hidden;
    padding-top:60px;  /*SOMETHING IN HERE is makein my code not work...*/
    transition: 0.5s;
}

.gui .closebtn {
    float: right;
    font-size: 36px;
    margin-right: 8px;
    padding: 0;
    color: #818181
}

.gui textarea,.gui p {
    margin: 0px 8px 0px 8px;
    text-decoration: none;
    font-size: 12px;
    transition: 0.3s;
}

.gui p {color:#818181}

.gui textarea {
    font-size: 10px;
    outline: none;
    resize: none;
    background-color: #111;
    border-color: #444;
    color: #818181;
    /*height: 1em;
    max-height: 50vh;
    columns: 20;*/
}

.gui textarea:focus{
    background-color: #444;
    color: #111
}

#all {
    transition: .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .gui {padding-top: 15px;}
    .gui a {font-size:18px;}
}