<!DOCTYPE html>
<html>

<head>
    <title>TITLE</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <style src='/default.css'></style>
</head>

<body>
    <div class='mainbox'>
        <h1>HEADING GOES HERE</h1>
        <p id='localhost?'>Not locally hosted</p>
        <script src='/localhostdetector.js'></script>

    <!--Content Goes Here-->

    </div>
    <canvas id="dotcanvas">
        <script src="/noms/nom.js"></script>
        <script>
            for (i = 0; i < 30; i++) {
                things.make(Math.random() * canvas.width, Math.random() * canvas.height, things.rgbify(Math.floor(Math.random() * 255), Math.floor(Math.random() * 255), Math.floor(Math.random() * 255)));
            };
            requestAnimationFrame(things.main)
        </script>
    </canvas>
</body>

</html>