.JSONViewer {
	background-color: 'transparent';
	font-family: "Menlo, Monaco, 'Source Sans Pro', 'Courier New',monospace";
	border: '0px';
	font-size: '11.5px';
	color: "#95C4E2"
}

.JSONViewer .number {
	color: 'palegreen'
}

.JSONViewer .string{
	color: '#c89175'
}
.JSONViewer .list,.JSONViewer .object {
	padding-left:0px;
}